extends base.pug

block scripts

block style 
    style 
        include ../static/style.css 
        include ../static/styleAbout.css

block content
    section#baba 
        div#babaabout1
            h1 Our Founder
            h2 Late Mr. Yadunath Singh Patel 
            h2 Bandh Baretha 
            h2 18-09-1950 -  30-09-2021 
        div
            img(src="/static/Baba.jpeg",id='Owner1' alt="Honey Patel") 
    
    section#owner2
        h1 Managing Directors
        div#malik
            img(src="/static/papa.jpeg", id="maliks")
            h3 Mr. Hitendra Patel
        div#malik
            img(src="/static/mama.jpg", id="maliks")
            h3 Mr. Naresh Patel
        div#malik
            img(src="/static/fufa.jpg", id="maliks")
            h3 Mr. Narendra Singh 

    section#Description 
        div#Data 
            div#Data2 
                h3 Mr. Hitendra Patel 
            div#Data2 
                p He is currently working as an Advocate at civil court cases. He is a successfull buisnessman.
                p Residence: Bandh Baretha 
                p Contact at : hitendra@gmail.customer
                p +9198****4444
        <hr>    
        div#Data
            div#Data2 
                h3 Mr. Naresh Patel 
            div#Data2 
                p He is the CEO of MAA kela Devi Grit Udhyog . He is a successfull buisnessman.
                p Residence: Bhagori.
                p Contact at : naresh@gmail.customer
                p +9191****4401
        <hr>
        div#Data
            div#Data2 
                h3 Mr. Narendra Singh
            div#Data2 
                p He is currently working as AEN. in Panchayat Samiti. He is a successfull buisnessman.
                p Residence: Bayana
                p Contact at : narendraa@gmail.customer
                p +9194****4260