html
  head
    title BABA FILLING STATION
    block scripts
    block style
  body
    section#Header 
        div 
            img(src="/static/logo.jpg"  id ='logo' alt="Indian Oil Logo")
        div#Heading 
            h1 BABA  FILLING  STATION
    
    
    
    
    section#Navigation
        div#Nav
            ul 
                li #[a(href='/') Home] 
                li #[a(href='/about') About]
                li #[a(href='/services') Services]
                li #[a(href='/contact') Contact Us]
      
    block content
    block foot
      section#Footer 
        div#f1 
            h5 Copyright © Indian Oil Corporation Ltd
            p Produced by : PATEL BABA & Sons
        div#f1 
            h5 Toll FREE Number: 1800-2333-555
            p Last updated on 21/03/2023 05:22 PM 
        div#f1 
            h5 LPG Emergency Helpline: 1906
            p Designed by : Honey Patel
        div#f1 
            h5 Co-Powered By 
            img(src="/static/smj.png", id='smj')
            img(src="/static/swb.webp", id='smj')