doctype html
html
  head
    style
      include ../static/style.css
  body
   section#Header 
        div 
            img(src="/static/logo.jpg"  id ='logo' alt="Indian Oil Logo")
        div#Heading 
            h1 BABA  FILLING  STATION

   section#Navigation
        div#Nav
            ul 
                li #[a(href='/') Home] 
                li #[a(href='/about') About]
                li #[a(href='/services') Services]
                li #[a(href='/contact') Contact Us]
   
   section#Introduction 
        div#welcome 
          h3 Welcome to the World of BABA FILLING
          p For millions of Indians, we are delivering happiness by transforming the nation’s landscape with our energy solutions across a spectrum of needs, everyday. <br>With myriad solutions for myriad needs, we have a wide compass of offerings that touch your life. 
          h2 !! FILL FORM ONLINE FOR JOB !!
          p Visit contact us page to register now
        div#log 
            div 
              <h1>Login Here </h1>
            div 
              <form action="/" method="post" id="contact2">
                <input type="text" name="name2" id="username" placeholder="Enter Your Name">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="text" name="password" id="username" placeholder="Password">
                <button class="btn">Submit</button>
              </form>

   section#Motive 
        div#Thought 
            p We, the IndianOil energy soldiers, must recognize our indispensable position in India's growth saga. It is undoubtedly a matter of pride for us. But that also puts the onus on us to not only deliver on our business goals but also set new benchmarks of ethics and honesty at the workplace and beyond. 
            p#info Honey Patel 
            p#info2 CEO
            
        div
            img(src="/static/honey.jpeg",id='Owner' alt="Honey Patel")
  
  
   section#Overseas 
        

        div#Offer1 
          h3 WE ASSURE
          p Purity of product and customer satisfaction for product. 
          img(src="/static/purity.jpg" , id='pure')

        div#Offer1 
          h3 Upcoming 
          p Electric Vehicle charging for the new generation.
          img(src="/static/slider-car-full.jpg", id="ev")

        div#Offer2
          h3 Current Price 
          h4 Diesel : 96.94Rs
          h4 Petrol : 104.60Rs
          h4 XtraPower : 110.45Rs

   section#Footer 
        div#f1 
            h5 Copyright © Indian Oil Corporation Ltd
            p Produced by : PATEL BABA & Sons
        div#f1 
            h5 Toll FREE Number: 1800-2333-555
            p Last updated on 21/03/2023 05:22 PM 
        div#f1 
            h5 LPG Emergency Helpline: 1906
            p Designed by : Honey Patel
        div#f1 
            h5 Co-Powered By 
            img(src="/static/smj.png", id='smj')
            img(src="/static/swb.webp", id='smj')